@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');
@import url('bear.css');
@import url('button.css');
@import url('snow.css');
@import url('AXEL.css');
@import url('defile.css');
@import url('jokes.css');

body {
    font-family: 'Mountains of Christmas', cursive;
    color: white;
    font-size: 1.5rem;
}

h1 {
    font-size: 6rem;
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
}

#link {
    position: bottom;
    font-size: 1rem;
    color: white;
}